.input{
    background-color: aquamarine;
    color: black;
    padding: 5px;
    border-radius: 2px;


}

.card{
    /* background-color: white; */
    width:470px;
    height: 300px;
    padding-left: 15px ;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.btn1{
    border: none;
    border-radius: 5px;
    height: 40px;
    /* width:'60px'; */

    cursor: pointer;

}

.btn2{
    border: none;
    border-radius: 5px;
    height: 40px;
    /* width:'60px'; */
    cursor: pointer;
    margin-left: 30px;
}
.btn1:hover{
    background-color: gray;

}

